<div>

  <!--in app.module import { BsDropdownModule } from 'ngx-bootstrap/dropdown';-->

  <a class="btn btn-primary" routerLink="/" [ngClass]="{ active: isActive('/') }">Styling</a>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Routing
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/routing" [ngClass]="{active: isActive('/routing')}">routing</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Menu
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/menu-component" [ngClass]="{active: isActive('/menu-component')}">menu component</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Quick Posts
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/trending" [ngClass]="{active: isActive('/trending')}">trending</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/selected" [ngClass]="{active: isActive('/selected')}">selected</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/my-posts" [ngClass]="{active: isActive('/my-posts')}">my posts</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/favourite-posts" [ngClass]="{active: isActive('/favourite-posts')}">favourite posts</a>
      </li>
    </ul>
  </div>

  <a class="btn btn-primary" routerLink="/sign-in" [ngClass]="{ active: isActive('/sign-in') }">Sign In</a>

</div>