<div class="dropdown menu">
  
      <ul class="nav nav-pills">
        <li [ngClass]="{ active: isActive('Home') }" (click)="active('Home')"><a href="#" class="less-padding">Home</a>
        </li>
        <li [ngClass]="{ active: isActive('Quick Posts') }">
          <a href="#" (click)="active('Quick Posts')" data-toggle="dropdown" class="dropdown-toggle less-padding">Quick Posts</a>
          <ul class="dropdown-menu">
            <li><a href="#">trending</a></li>
            <li><a href="#">selected</a></li>
            <li><a href="#">my selected</a></li>
            <li><a href="#">my posts</a></li>
            <li><a href="#">favourite posts</a></li>
            <li><a href="#">post of the week</a></li>
            <li><a href="#">post-o-t-w vote</a></li>
          </ul>
        </li>
        <li [ngClass]="{ active: isActive('Join') }"><a href="#" (click)="active('Join')" class="less-padding">Join</a></li>
        <li [ngClass]="{ active: isActive('Sign In') }"><a href="#" (click)="active('Sign In')" class="less-padding">Sign In</a></li>
      </ul>
    
  
  </div>
  